*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    
  }
  body{
    line-break: strict;
    background-color: var(--sub-blue);
    color: var(--char-black);
    overflow-x: hidden;
  }
  .gnav{
    display: none;
  }


  #g-nav{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
    top:0;
    right:-120%;
    width:100%;
    height: 100vh;/*ナビの高さ*/
    background:var(--main-pink);
    /*動き*/
    transition: all 0.5s;
  }
  
  /*アクティブクラスがついたら位置を0に*/
  #g-nav.panelactive{
    right: 0;
  }
  
  /*ナビゲーションの縦スクロール*/
  #g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合横スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  /*ナビゲーション*/
  #g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  /*リストのレイアウト設定*/
  
  #g-nav li{
    color: white;
    list-style: none;
    text-align: center; 
    line-height: 17px;
    margin: 50px;
    font-size: 20px;
  }
  
  #g-nav li a{
  list-style: none;
  color: white;
  font-size: 30px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.01em;
  font-weight: bold;
  }
  #g-nav li a:hover{
    font-size: 32px;
  }
  #g-nav li a:active{
    color: var(--sub-color);
  }
  /*========= ボタンのためのCSS ===============*/
  .openbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  z-index: 9999;/*ボタンを最前面に*/
  top:10px;
  right: 0px;
  cursor: pointer;
  background-color: var(--main-pink);
  border-radius: 10px 0 0 10px;
  width: 50px;
  height:50px;
  }
  
  /*×に変化*/	
  .openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: white;
    width: 45%;
  }
  .openbtn p{
    display: inline-block;
    position: absolute;
    bottom: 6px;
    margin-top: 10px;
    font-size: 10px;
    color: white;
  }
  
  
  .openbtn span:nth-of-type(1) {
  top:10px;	
  }
  
  .openbtn span:nth-of-type(2) {
  top:18px;
  }
  
  .openbtn span:nth-of-type(3) {
  top:26px;
  }
  
  .openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }
  
  .openbtn.active span:nth-of-type(2) {
  opacity: 0;
  }
  
  .openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }

/*ポートフォリオ*/

  .hero{
    position: relative;
    height: 800px;
  }
  .hero-text{
    z-index: 2;
    position: absolute;
    display: inline-block;
    height: 100px;
    width: 80%;
    right: 0px;
    top: 43%;
    background-color: var(--main-pink);
    color: var(--char-white);
    padding: 20px 40px;
    box-shadow: -10px 10px 0px 0px rgba(0, 0, 0, 0.4);
  }
  .hero::before{
    z-index: 1;
    position:absolute;
    content: "";
    background-color: var(--main-blue);
    width:70%;
    height: 50%;
  }
  .hero::after{
    z-index: 0;
    position:absolute;
    content: "";
    background-color: var(--sub-pink);
    width:100%;
    height: 30%;
    right: 0px;
    top:50%
  }

/*自己紹介*/

  .selfintro{
    height: 800px;
    padding: 100px 30px;
  }
  .selfintro-contents{
    
  }
  .section-name{
    position: relative;
    display: inline-block;
    font-size: 2em;
  }
  .section-name::after {
    position: absolute;
    content: "";
    bottom: -5px;
    right: 0;
    left: -650px;
    margin: 0 auto;
    border-bottom: 10px solid var(--main-pink);
}
.selfintro-item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--sub-pink);
    height: 520px;
    margin: 30px 25px;
    border-radius: 80px;
}
.selfintro-item::before{
    z-index: -1;
    position: absolute;
    content: "";
    background-color: var(--main-pink);
    height: 520px;
    top: 50px;
    left: -50px;
    width: 100%;
    border-radius: 80px;
}
.selfintro-text{
    margin: 10px 10%;
    
}
.selfintro-text h2{
    text-align: center;
    margin-bottom: 10px;
}

/*スキル*/

.skills{
    padding: 100px 30px;
}
.skills .section-name::after {
    left: -680px;
}
.skills-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 25px;
    background-color: var(--main-blue);
    border-radius: 80px;
    gap: 30px;
    padding: 10px 10px;
}
.skills-contents{
    flex-direction: column;
    margin: 10px 10%;
}
.skills-img{
    display: flex;
    justify-content: center;
}
.skills-img img{
    min-width: 20%;
    object-fit: contain;
}
.skills-contents{
    width: 80%;
}
.skills-contents p{
    margin-top: 10px;
    text-align: center;
}

/*コンテンツ*/

.contents{
    padding: 100px 30px;
}
.contents-item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 25px;
    border-radius: 80px;
    padding: 30px 30px;
}
.contents-contents{
    position: relative;
    padding: 30px 0px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.contents-contents:nth-child(n+1){
    top: -20px;
}
.contents-contents:nth-child(2n-1):before{
    z-index: -1;
    position: absolute;
    content: "";
    background-color: var(--main-blue);
    height: 100%;
    width:calc(100vw - 35px);
    right: -50px;
    top: 30px;
    border-radius: 0 80px 80px 0;
}
.contents-contents:nth-child(3n):before{
    z-index: -100;
    top: -30px;
}
.contents-contents:nth-child(2n):before{
    overflow:hidden;
    z-index: -1;
    position: absolute;
    content: "";
    background-color: var(--sub-pink);
    height: 100%;
    width:calc(100vw - 35px);
    left: -50px;
    top: 0px;
    border-radius: 80px 0 0 80px;
}
.contents-contents:nth-child(3):before{
    height: 105%;
}
.contents-contents:nth-child(2){
   text-align: left;
}

.contents-name{
    margin: 20px 0;
    font-size: 20px;
}
.contents-movie{
    display: flex;
}
.contents-movie iframe{
    min-width: 50%;
    width: 100%;
    min-height: 100%;
    height: 300px; 
    object-fit: contain;
}
.skills-img img{
    min-width: 50%;
    width: 40%;
    object-fit: contain;
}

/*モデリング*/

.modering{
    padding: 100px 30px;
}
.modering-contener{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 25px;
    background-color: var(--main-blue);
    border-radius: 80px;
    gap: 30px;
    padding: 10px 10px;
}
.modering-items{
    flex-direction: column;
    margin: 30px 10%;
}
.modering-img{
    display: flex;
    justify-content: center;
}
.modering-img img{
    object-fit: contain;
}
.modering-items{
    width: 80%;
}
.modering-items p{
    margin-top: 20px;
}
footer{
    background-color: var(--main-blue);
    position: relative;
    height: 100px;
}
.copyright{
    position: absolute;
    text-align: center;
    bottom: 0px;
}
.copuright{

}
@media (min-width: 768px) {
    .selfintro-contents{
        
    }
    .selfintro-item{
        margin: 10px 100px;
        width: 500px;
        margin: auto;
    }
    
    .skills-item{
        margin: 30px 100px;
        flex-direction:row;
    }
    .skills-contents{
        margin: 30px 0px;
    }
    .contents-item{
        margin: auto;
        width: 500px;
    }
    .modering-contener{
        margin: auto;
        width: 500px;
    }
}
:root {
    --main-blue: #B4E1FC;
    --sub-blue:#D7F0FD;
    --main-pink:#F6C7E1;
    --sub-pink:#FAE4F0;
    --char-white:#FDFDFD;
    --char-black:#1d1d1d;
}
  